body{
    background-color: rgb(102, 99, 99);
}
main{
    background-color: rgb(191, 142, 236);
    max-width: 600px;
    min-width: 500px;
    margin:0 auto;
}
.top{
    text-align: center;
}

/* ================================================================== */
/* 履歴の処理 */
/* ================================================================== */
.training_menu{
    display: flex;
}


/* ================================================================== */
/* 履歴の処理 */
/* ================================================================== */
/* 筋トレの履歴 */
#text,
.history{
    display: flex;
    border: 3px solid black;
}
/* _______________________________________________________________________________ */